<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASzfRNXsIFEWD1GE1yijzlb5uh0ZA9LFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>766777205347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.endohealth.endo</string>
	<key>PROJECT_ID</key>
	<string>endo-411207</string>
	<key>STORAGE_BUCKET</key>
	<string>endo-411207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766777205347:ios:57644b0b5930cc0d300e56</string>
</dict>
</plist>